// ===================================================================================
//	SCSS Variables
// ===================================================================================

$font_base_family: 'roboto_regular';
$font_base_size: 14px;

$width: 1070px;


$theme_red: #C02727;
$background_grey: #e8e8e8;
$bg_color: #FFF;
$grey: #999;
$light_grey: #424242;
$dark_grey: #222;
$red: #b62d2d;
$blue: rgb(24, 158, 228);

$cream: #dfddd4;
$dark_cream: #aaa499;
$theme_blue: #223A41;